<!--<p *ngIf="!Airsoft"><em>Loading...</em></p>


<table id="products" *ngIf="Airsoft">
  <tr class="header">

    <th>Name</th>
    <th>Brand</th>
    <th>Type</th>
    <th>Description</th>
    <th>Price</th>
    <th>Meer details</th>
    <th></th>
  </tr>

  <tr>

    <td>{{Airsoft.Name}}</td>
    <td>{{Airsoft.Brand}}</td>
    <td>{{Airsoft.Type}}</td>
    <td>{{Airsoft.Description}}</td>
    <td>{{Airsoft.Price}}</td>
    <td>
      <a asp-controller="airsoft" asp-action="details" asp-route-id="{{Airsoft.Id}}">
        <button class="button"> Meer info</button>
      </a>
    </td>
    <td>
      <a asp-controller="airsoft" asp-action="Delete" asp-route-id="{{AirsoftGun.Id}}">
        <button class="button"> Delete</button>
      </a>
    </td>


  </tr>


</table>-->

<p>Airsoft works</p>

