<h1 id="tableLabel">Airsofts</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!airsofts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="airsofts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let airsoft of airsofts">
      <td>{{ airsoft.Name }}</td>
      <td>{{ airsoft.Brand }}</td>
      <td>{{ airsoft.Type }}</td>
      <td>{{ airsoft.Description }}</td>
      <td class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/details']">Details</a>
</td>
    </tr>
  </tbody>
</table>


<p>Airsoft works</p>

