
<h1 id="tableLabel">Airsoft Details</h1>


<p *ngIf="!airsofts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="airsofts">
  
  <tr>
    <th>Name: {{ airsofts.name }}</th>

  </tr>
  <tr>
    <td>Price: {{ airsofts.price }}</td>
  </tr>
  <tr>
    <td>Brand: {{ airsofts.brand }}</td>
  </tr>
  <tr>
    <td>Type: {{ airsofts.type }}</td>
  </tr>
  <tr>
    <td>Mag Size: {{ airsofts.magazineSize }}</td>
  </tr>
  <tr>
    <td>FPS: {{ airsofts.fps }}</td>
  </tr>
  <tr>
    <td>Caliber: {{ airsofts.caliber }}</td>
  </tr>
  <tr>
    <td>Joule: {{ airsofts.joule }}</td>
  </tr>
  <tr>
    <td>Gearbox: {{ airsofts.gearbox }}</td>
  </tr>
  <tr>
    <td>Lenght: {{ airsofts.lenght }}</td>
  </tr>
  <tr>
    <td>Weight: {{ airsofts.weight }}</td>
  </tr>
  <tr>
    <td>Battery: {{ airsofts.battery }}</td>
  </tr>
  <tr>
    <td>Description: {{ airsofts.derscription }}</td>
  </tr>
</table>
